* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.header {
    top: 0px;
    text-align: center;
    background-color: rgb(26, 10, 144);
    color: #fff;
     position: fixed; 
    width: 100%;
    height: 50px;
    padding-top: 5px;
    text-transform: uppercase;
    
}

.navbar {
    display: flex;
    background-color: rgb(15, 116, 141);
    padding: 10px;
    margin-top: 50px; 
    
}

.navbar a {
    color: #fff;
    padding: 16px;
    text-decoration: none;
    text-align: center;
}
.header-title a {
    text-decoration: none;
    color: white;
}
.navbar a:hover {
    background-color: rgba(26, 10, 144, 0.703);
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

#main {
    display: flex;
}
#sidebar {
    background-color: #f1f1f1;
    flex: 25%;
    padding: 20px;
    order: -1;
    height: 950px;
}
p {
    margin: 10px 0;
}

#content {
    flex: 75%;
    padding: 20px;
    height: 950px;
    overflow:hidden;
}
@media screen and (max-width: 700px) {
    #main, .navbar {
        flex-direction: column;
    }
    #sidebar {
        order: 1;
    }
}
body {
    height: 1000px;
}
footer {
    height: 50px;
    background-color: rgb(26, 10, 144);
    margin-top: 0px;
    display: flex;
}